@model WebTaskManagerApp.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
<hr />

<div id="gradient" />

<div class="container md">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 row justify-content-center align-items-center">
            <form id="LoginForm" asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label id="LoginLabel" asp-for="Name" class="control-label"></label>
                    <input id="LoginInput" asp-for="Name" class="form-control" />
                    <span  id="LoginSpan" asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                &nbsp;
                <div class="form-group row justify-content-center align-items-center">
                    <input style="width: 50%" type="submit" value="Login" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row justify-content-center align-items-center">
    Don`t have an account? <a asp-action="Registration"  class="row justify-content-center align-items-center">Register it now!</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
