@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Explore:</p>
    <ul>
        <li><a asp-controller="Users" asp-action="Index">Users List</a></li>
        <li><a asp-controller="Tasks" asp-action="Index">Tasks List</a></li>
        <li><a asp-controller="Project" asp-action="Index">Projects List</a></li>
    </ul>
</div>
