@model List<AspNetMvcApp.Models.Project>

<h1>Project List</h1>
<ul>
   @foreach (var project in Model)
   {
       <li>
           <h4>@project.Name</h4>
           <p>@project.Description</p>
           <p><a asp-action="Details" asp-route-id="@project.Id">Details</a></p>
       </li>
   }
</ul>
<p>
   <a asp-action="Create">Create New Project</a>
</p>
