@model List<AspNetMvcApp.Models.Task>

<h1>Task List</h1>
<ul>
    @foreach (var task in Model)
    {
        <li>
            <h4>@task.Title</h4>
            <p>@task.Description</p>
            <p><a asp-action="Details" asp-route-id="@task.Id">Details</a></p>
        </li>
    }
</ul>
<p>
    <a asp-action="Create">Create New Task</a>
</p>
